services:
  - type: web
    name: receipts-hist
    runtime: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    envVars:
      - key: SECRET_KEY
        generateValue: true
      - key: DATABASE_URL
        fromDatabase:
          name: receipts-hist-db
          property: connectionString
      - key: OPENAI_API_KEY
        sync: false
      - key: GOOGLE_CLIENT_ID
        sync: false
      - key: GOOGLE_CLIENT_SECRET
        sync: false
      - key: PYTHON_VERSION
        value: "3.11.11"

databases:
  - name: receipts-hist-db
    plan: free
